<div class="cart-container">
  <h2>Vaša korpa</h2>
  <div *ngIf="(cartItems$ | async) as cartItems">
    <div *ngIf="cartItems.length === 0">Korpa je prazna.</div>
    <div *ngIf="cartItems.length > 0">
      <ul>
        <li *ngFor="let item of cartItems">
          <div class="cart-item">
            <img src="assets/{{item.product.imageUrl}}" alt="{{item.product.name}}">
            <div class="cart-item-details">
              <h3>{{item.product.name}}</h3>
              <p>{{item.product.price | currency:'RSD':'symbol':'1.0-0'}} din</p>
              <div class="quantity-controls">
                <button (click)="updateQuantity(item.product, item.quantity - 1)">-</button>
                <span>{{item.quantity}}</span>
                <button (click)="updateQuantity(item.product, item.quantity + 1)">+</button>
              </div>
              <button (click)="removeItem(item.product)">Ukloni</button>
            </div>
          </div>
        </li>
      </ul>
      <div class="cart-total">
        <h3>Ukupno: {{ getTotal(cartItems) | currency:'RSD':'symbol':'1.0-0'}} din</h3>
        <a href="checkout">
          <button>Idi na placanje</button>
        </a>
      </div>
    </div>
  </div>
</div>
