
  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

     

      <a href="" class="logo">
        <img src="./assets/logo.jpeg" alt="logo" width="80">
      </a>

      <div class="header-actions">

        <button *ngIf="!isLoggedIn">
          <a href="login" class="header-action-label" style="font-size: larger;">Prijava</a>
        </button>
        
        
          <button *ngIf="isLoggedIn" (click)="logout()">
            <span class="header-action-label" style="font-size: larger;">Odjava</span>
          </button>
        

          <button>
          <a href="cart" class="header-action-label"  style="font-size: larger;">Korpa</a>
        </button>
        
       

      </div>
      <nav class="navbar" data-navbar>
      <ul class="navbar-list">

        <li>
          <a href="home" class="navbar-link">Početna</a>
        </li>

        <li>
          <a href="products" class="navbar-link">Proizvodi</a>
        </li>

 

        <li>
          <a href="contact" class="navbar-link">Kontakt</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="user-profile" class="navbar-link">Profil</a>
        </li>
        <li *ngIf="userRole === 'Admin'">
          <a href="admin" class="header-action-label" style="font-size: larger;">Admin Panel</a>
        </li>
        </ul>

      </nav>
    </div>
  </header>


  <main style="flex-grow: 1;"></main>



  <router-outlet></router-outlet>


   <footer class="footer">

      <div class="footer-top">
        <div class="container">

          <div class="footer-brand">

            <a href="#" class="logo">
              <img src="./assets/logo.jpeg" alt="logo" width="200px">
            </a>

          

           

          </div>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Informacije</p>
            </li>

            <li>
              <a href="home" class="footer-link">Pocetna</a>
            </li>

            <li>
              <a href="contact" class="footer-link">Kontakt</a>
            </li>

            <li>
              <a href="products" class="footer-link">Proizvodi</a>
            </li>

            <li>
              <a href="user-profile" class="footer-link">Profil</a>
            </li>

            <li>
              <a href="login" class="footer-link">Uloguj se</a>
            </li>

            <li>
              <a href="register" class="footer-link">Registruj se</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Kategorije</p>
            </li>

            <li>
              <a [routerLink]="['/products']" [queryParams]="{ category: 'Trenerka' }" class="footer-link">Trenerke</a>
            </li>

            <li>
              <a [routerLink]="['/products']" [queryParams]="{ category: 'Duks' }" class="footer-link">Duksevi</a>
            </li>

            <li>
              <a [routerLink]="['/products']" [queryParams]="{ category: 'Balls' }" class="footer-link">Lopte</a>
            </li>

            <li>
              <a [routerLink]="['/products']" [queryParams]="{ category: 'Shoes' }"class="footer-link" >Patike</a>
            </li>

            <li>
              <a [routerLink]="['/products']" [queryParams]="{ category: 'Backpack' }" class="footer-link">Rancevi</a>
            </li>

            <li>
              <a [routerLink]="['/products']" [queryParams]="{ category: 'Tshirt' }" class="footer-link">Majice</a>
            </li>

          </ul>

          
        </div>
      </div>

    

    </footer>


